<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	<div
		class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Bing Search Demo</h1>
		<table class="table">
			<div th:if="${webpages} != null">
				<tr th:each="webpage : ${webpages}">
					<td style="text-align: center !important;">
						<div style="margin-bottom: 20px;">
							<span style="font-weight: bold;" th:text="${webpage.webSearchUrl}" />
						</div>
						<div style="margin-bottom: 20px;">
							<span style="font-weight: bold;" th:text="${webpage.value[0].name}" />
						</div>
						<div style="margin-bottom: 20px;">
							<span style="font-weight: bold;" th:text="${webpage.value[0].url}" />
						</div>
					</td>
				</tr>
			</div>
		</table>
	</div>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
	<div lang="en" th:replace="fragments/disclaimer :: disclaimer"></div>
</body>

</html>