<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	<div
		class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Shopping Cart Summary</h1>
		<h2 class="subHeader" th:if="${userLoggedIn} != true">You need to
			login before placing your order</h2>
		<p th:if="${order} == null or ${order.products} == null or  (${order.products} != null and ${order.products.size} == 0)">
			You're shopping cart is empty, add some products!
		</p>
		<p />
		
		<div style="display: flex; justify-content: center;">
			<table class="table">
				<div
					th:if="${order} != null and ${order.complete} != true and ${order.products} != null and ${order.products.size} > 0">
					<th class="fullTable">Product ID</th>
					<th>Description</th>
					<th class="fullTable">Product Name</th>
					<th>Quantity</th>
					<tr th:each="product, iStat : ${order.products}">
						<td class="fullTable"><span th:text="${product.id}" /></td>
						<td>
							<figure>
								<img class="thumbnail" th:src="@{${product.photoURL}}" />
							</figure>
						</td>
						<td class="fullTable"><span th:text="${product.name}" /></td>
						<td>
							<div style="white-space: nowrap !important;">
								<a
									th:onclick="'updatecart(\'' + ${product.id} + '\' , \'minus\');'"
									style="font-weight: bold; text-decoration: none; color: black;">
									<button class="btn btn-outline-primary" type="submit">-</button>
								</a><span th:text="${product.quantity}" /> <a
									th:onclick="'updatecart(\'' + ${product.id} + '\' , \'plus\');'"
									style="font-weight: bold; text-decoration: none; color: black;">
									<button class="btn btn-outline-primary" type="submit">+</button>
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<div th:if="${userLoggedIn} == true and  ${order} != null and  ${order.products.size} > 0">
								<a th:onclick="'completecart();'"
									style="font-weight: bold; text-decoration: none; color: black;">
									<button class="btn btn-outline-primary" type="submit">Complete
										Order</button>
								</a>
							</div>
						</td>
					</tr>
				</div>
				<div th:if="${order} != null and ${order.complete} == true">
					<tr>
						<td colspan="4">
							<h2 class="subHeader">Congratulations, your order is now complete and being processed!</h2>
							<p>We've attempted to send an email to <a style="color: #3C7BB7;"
									th:href="@{'mailto:' + ${email}}" /><span th:text="${email}" /></a>.
								Note, sending email's outside of the Microsoft domain is not available with this demo.</p>
						</td>
					</tr>
				</div>
			</table>
		</div>
		<form action="updatecart" method="post" id="updatecart">
			<input type="hidden" th:if="${_csrf}"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input
				type="hidden" id="productId" name="productId" value=""> <input
				type="hidden" id="operator" name="operator" value="">
		</form>
		<form action="completecart" method="post" id="completecart">
			<input type="hidden" th:if="${_csrf}"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</div>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
	<div lang="en" th:replace="fragments/disclaimer :: disclaimer"></div>
	<script language="javascript">
		function updatecart(productId, operator) {
			document.getElementById('productId').value = productId;
			document.getElementById('operator').value = operator;
			document.getElementById('updatecart').submit();
		}
		function completecart() {
			document.getElementById('completecart').submit();
		}
	</script>
</body>

</html>