<!DOCTYPE html>
<html lang="en">

<head lang="en" th:replace="unique/head :: head"></head>

<body>
	<div lang="en" th:replace="unique/header :: header"></div>
	<div class="unique-pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="unique-display-4">Welcome to Our Exclusive Pet Emporium</h1>
		<h2 class="unique-subHeader">Begin Your Pet Journey!</h2>
		<p>Discover an array of premium products below!</p>
		<div id="unique-banner">
			<center>
				<figure>
					<img class="unique-banner" src="content/unique-banner.png" />
				</figure>
			</center>
		</div>
	</div>
	<div lang="en" th:replace="unique/footer :: footer"></div>
	<div lang="en" th:replace="unique/disclaimer :: disclaimer"></div>
</body>

</html>
