<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="disclaimer">
		<div class="disclaimer">
			Please note, The Azure Pet Store is comprised of hypothetical open source
			applications developed to help you learn about and build awesome
			software on Azure. This is not official Microsoft documentation but
			rather an opinionated approach/guidance to help you get started. It
			is comprised of the Pet Store Web Application and several Pet Store Microservices
			that are referenced in the Azure Pet Store Reference Architecture
			located <a style="font-weight:600; color:#454545;" href="https://chtrembl.github.io/azure-cloud/"
				target="_blank" />here</a>. Covered
			are the many awesome services and features of Azure such as CI/CD, TDD, Automated Testing,
			Container Strategy with App Services and AKS, Correlated Telemetry,
			Power Apps, Serverless Functions, Logic Apps and much more.
		</div>
	</div>
</body>
</html>

