<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div th:fragment="header">
		<script>
			var sid = "[[${sid}]]";
			var csrf = "[[${_csrf.token}]]";
		</script>
		
		<div
			class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<table class="my-0 mr-md-auto font-weight-normal">
				<tr><td style="width:50px;"><a class="p-2 text-dark" href="/">
				<img
					src="content/azure.png"
					class="azureimagesmall" /></a></td><td>Hi <span th:text="${userName}"/>, Welcome to the Azure Pet Store!</td></tr>
			</table>
			<p/>
			<div th:if="${user} != null">
				<a class="btn btn-outline-primary"
					href="/oauth2/authorization/B2C_1_profileediting">Profile</a>
				<a class="btn btn-outline-primary"
					href="/oauth2/authorization/B2C_1_passwordreset">Password</a>
				<a class="btn btn-outline-primary" href="/claims">Claims</a>
				<form style="display: inline" method="post" action="/logout">
				    <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<button class="btn btn-outline-primary" type="submit">Logout</button>
				</form>
			</div>
			<div th:if="${user} == null">
				<div th:if="${containerEnvironment.securityEnabled}">
  					<a class="btn btn-outline-primary" href="/oauth2/authorization/B2C_1_signupsignin">Sign up / Sign in</a>
	  			</div>
  			</div>
  			<div class="cartcontainer"><a href = "/cart"><img class="cart" src="content/carticon.png"/><div class="cartcount"><div id="cartcount" style="margin-left:9px;margin-top:-3px;font-weight: 900;" th:text="${cartSize}" /></div></a></div>
  		</div>
	</div>
</body>
</html>