<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<div>
			<h1 class="display-4">
				AD Claims
			</h1>
			<div style="padding-top:50px;"/>
			<div style=" display: flex;justify-content: center;">
				<table class="table" style="width:80%;align-self: center;">
					<thead>
						<tr>
							<th scope="col">Claim Name</th>
							<th scope="col">Claim Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row">name</td>
							<td th:text="${name}"></td>
						</tr>
						<tr>
							<td scope="row">grant_type</td>
							<td th:text="${grant_type}"></td>
						</tr>
						<tr>
							<td scope="row">at_hash</td>
							<td th:text="${at_hash}"></td>
						</tr>
						<tr>
							<td scope="row">sub</td>
							<td th:text="${sub}"></td>
						</tr>
						<tr>
							<td scope="row">country</td>
							<td th:text="${country}"></td>
						</tr>
						<tr>
							<td scope="row">ver</td>
							<td th:text="${ver}"></td>
						</tr>
						<tr>
							<td scope="row">city</td>
							<td th:text="${city}"></td>
						</tr>
						<tr>
							<td scope="row">postalCode</td>
							<td th:text="${postalCode}"></td>
						</tr>
						<tr>
							<td scope="row">jobTitle</td>
							<td th:text="${jobTitle}"></td>
						</tr>
						<tr>
							<td scope="row">iss</td>
							<td th:text="${iss}"></td>
						</tr>
						<tr>
							<td scope="row">oid</td>
							<td th:text="${oid}"></td>
						</tr>
						<tr>
							<td scope="row">given_name</td>
							<td th:text="${given_name}"></td>
						</tr>
						<tr>
							<td scope="row">emails</td>
							<td th:text="${emails}"></td>
						</tr>
						<tr>
							<td scope="row">aud</td>
							<td th:text="${aud}"></td>
						</tr>
						<tr>
							<td scope="row">nbf</td>
							<td th:text="${nbf}"></td>
						</tr>
						<tr>
							<td scope="row">streetAddress</td>
							<td th:text="${streetAddress}"></td>
						</tr>
						<tr>
							<td scope="row">autd_time</td>
							<td th:text="${autd_time}"></td>
						</tr>
						<tr>
							<td scope="row">state</td>
							<td th:text="${state}"></td>
						</tr>
						<tr>
							<td scope="row">exp</td>
							<td th:text="${exp}"></td>
						</tr>
						<tr>
							<td scope="row">iat</td>
							<td th:text="${iat}"></td>
						</tr>
						<tr>
							<td scope="row">family_name</td>
							<td th:text="${family_name}"></td>
						</tr>
						<tr>
							<td scope="row">tfp</td>
							<td th:text="${tfp}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>

</html>