<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	<div
		class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">AD Claims</h1>
		<div style="display: flex; justify-content: center;">
			<div th:if="${claims} != null">
				<div th:each="claim, iStat : ${claims}">
					<div th:text="${claim.key}" style="font-weight: 700;" />
					<div th:text="${claim.value}" />
				</div>
			</div>
		</div>
	</div>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
	<div lang="en" th:replace="fragments/disclaimer :: disclaimer"></div>
</body>

</html>