<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	<div
		class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Welcome to the Azure Pet Store</h1>
		<h1 class="display-4" style="font-size:2.5rem;" th:if="${!#strings.isEmpty(signalRNegotiationURL)}">
				There is currently <span id="currentUsers" style="font-weight:500;color:#3C7BB7;" th:text="${currentUsersOnSite}"></span> live shoppers online via <a href="https://azure.microsoft.com/en-us/services/signalr-service/" target="blank"><img class="signalR" src="content/SignalR-logo.png" /></a></h1>

		<h2 class="subHeader">Start exploring & learning Azure today!</h2>
	
		<p><a style="color:#3C7BB7;" href="https://github.com/chtrembl/azure-cloud/tree/main/petstore" target="_blank">View Azure Pet Store on GitHub</a> or Begin by shopping for pet products below!</p>
	
		<div id="banner">
			<center>
				<figure>
					<img class="banner" src="content/banner.png" />
				</figure>
			</center>
		</div>

		<!--
		<video width="600" controls="controls" preload="metadata">
			<source src="https://dms-exp2.licdn.com/playlist/vid/D4E05AQERWdFUsZiASA/mp4-720p-30fp-crf28/0/1693516336595?e=1694127600&v=beta&t=QjaCse-lsOZxo-MzOiUKQJF9PdqsDbE-g0bu3ExTom4" type="video/mp4">
		</video>
		-->
	
		<p>For a video overview of Azure Pet Store click below</p>
		<a href="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7103121705719447553" target="_blank"><img src="content/azurepetstorevideothumb.png"></a>

	</div>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
	<div lang="en" th:replace="fragments/disclaimer :: disclaimer"></div>
</body>

</html>