<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	<div
		class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Welcome to the Azure Pet Store</h1>
		<h1 class="display-4" style="font-size:2.5rem;" th:if="${!#strings.isEmpty(signalRNegotiationURL)}">
				There is currently <span id="currentUsers" style="font-weight:500;color:#3C7BB7;" th:text="${currentUsersOnSite}"></span> live shoppers online via <a href="https://azure.microsoft.com/en-us/services/signalr-service/" target="blank"><img class="signalR" src="content/SignalR-logo.png" /></a></h1>
		<h2 class="subHeader">Start exploring & learning Azure today!</h2>
		<p>Begin by shopping for products below!</p>
		<div id="banner">
			<center>
				<figure>
					<img class="banner" src="content/banner.png" />
				</figure>
			</center>
		</div>
		<script
	      src="https://static.soulmachines.com/widget-snippet-1.12.0.min.js"
	      data-sm-api-key="eyJzb3VsSWQiOiJkZG5hLW1pY3Jvc29mdC0yMDIzLS1henVyZS1wZXQtc3RvcmUiLCJhdXRoU2VydmVyIjoiaHR0cHM6Ly9kaC5hei5zb3VsbWFjaGluZXMuY2xvdWQvYXBpL2p3dCIsImF1dGhUb2tlbiI6ImFwaWtleV92MV85NzI3NGQwMy05ZDZjLTRkM2QtOTVjNS1jMTMzM2QyNjc4YzAifQ=="
	      data-sm-position="center"
	      data-sm-greeting="Welcome to the Azure Pet Store, How can I help?"
	      data-sm-layout="fullFrame"
	      data-sm-profile-picture="https://assets.cdn.soulmachines.cloud/AvatarCoverImages/image-sam-l.jpg">
		</script>
	</div>
		
	</div>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
	<div lang="en" th:replace="fragments/disclaimer :: disclaimer"></div>
	
</body>

</html>