<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">
			Welcome to the Azure Pet Store
		</h1>
		<div style="padding-top:50px;">
			<b>You are now logged out. You will need to Sign Up and/or Sign In to continue accessing protected pages.</b>
			<p>
			This is the sample Pet Store App that is referenced in the Azure Pet Store Reference Architecture located here
			<a href="https://chtrembl.github.io/azure-cloud/" target="_blank"/>https://chtrembl.github.io/azure-cloud/</a>
		</div>
	</div>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>

</html>