<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	<div
		class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Select a Product</h1>
		<table class="table">
			<div th:if="${products} != null">
				<tr th:each="product, iStat : ${products}">
					<td style="text-align: center !important;">
						<center><img class="thumbnail" th:src="@{${product.photoURL}}" /></center>
						<div style="margin-bottom: 20px;">
							<span style="font-weight: bold;" th:text="${product.name}" />
						</div>
						<div style="margin-bottom: 20px;">
							<a th:onclick="'updatecart(\'' + ${product.id} + '\');'"
								style="font-weight: bold; text-decoration: none; color: black;">
								<button class="btn btn-outline-primary" type="submit">Add
									to cart</button>
							</a>
						</div>
					</td>
				</tr>
			</div>
		</table>
	</div>
	<form action="updatecart" method="post" id="addProduct">
		<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" /> <input type="hidden" id="productId"
			name="productId" value="">
	</form>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
	<div lang="en" th:replace="fragments/disclaimer :: disclaimer"></div>
	<script language="javascript">
			function updatecart(productId) {
				document.getElementById('productId').value = productId;
				document.getElementById('addProduct').submit();
			}
		</script>
</body>

</html>