<!doctype html>
<html lang="en">

<head lang="en" th:replace="fragments/head :: head"></head>

<body>
	<div lang="en" th:replace="fragments/header :: header"></div>
	
	<script>
		var sid =[[${sid}]];
		var csrf =[[${_csrf.token}]];
	</script>

	<iframe th:src="@{'https://azurepetstore.com/static/index.html?sid=' + ${sid} + '&csrf=' + ${_csrf.token}}" style="top:0; left:0; bottom:0; right:0; width:100%; height:600px; border:none; margin:0; padding:0;">
		Your browser doesn't support iframes
	</iframe>
		
	</div>
	<div lang="en" th:replace="fragments/footer :: footer"></div>
	<div lang="en" th:replace="fragments/disclaimer :: disclaimer"></div>
	
</body>

</html>