*.class

# Package Files #
*.jar
*.war
*.ear

target/
bin/

**/.openapi-generator/
.openapi-generator-ignore

#Eclipse files
**/.project
**/.classpath
**/.settings/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle

#Visual Studio Code files
**/.vscode/