a {
	text-decoration:none !important;
	color: #007bff !important;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( max-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
	.thumbnail {
	width: 20% !important;
	}
	.azureimagesmall {
	width: 10%;
	height: 10%;
	opacity: 80%;
	}
	.azureimagelarge {
		width: 10%;
		height: 10%;
		opacity: 80%;
	}
}

figure {
	width: intrinsic;
}

@media ( min-width : 769px) {
	.thumbnail {
		width: 10%;
	}
	.azureimagesmall {
	width: 10%;
	height: 10%;
	opacity: 80%;
	}
	.azureimagelarge {
		width: 5%;
		height: 5%;
		opacity: 80%;
	}
}

.cart {
	height: 30px;
	width: 30px;
	opactiy: 80% !important;
	margin-left:10px;
	margin-top:10px;
}