a {
	text-decoration:none !important;

}

.cc-message > a {
	color: #fff !important;
}

.cc-compliance > a {
	color: #fff !important;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( max-width : 767px) {
	.fullTable {
		width: 0px;
		display: none;
	}
	
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
	.thumbnail {
	width: 40% !important;
	}
	.azureimagesmall {
	width: 10%;
	height: 10%;
	opacity: 80%;
	}
	.azureimagelarge {
		width: 10%;
		height: 10%;
		opacity: 80%;
	}
	.banner {
		width: 90%;
		filter: drop-shadow(2px 2px 5px black);
	}
}

figure {
	width: intrinsic;
}

@media ( min-width : 768px) {
	.thumbnail {
		width: 20%;
	}
	.banner {
		width: 60%;
		filter: drop-shadow(2px 2px 5px black);
	}
	.azureimagesmall {
	width: 10%;
	height: 10%;
	opacity: 80%;
	}
	.azureimagelarge {
		width: 5%;
		height: 5%;
		opacity: 80%;
	}
}

.cart {
	height:48px;
	width:68px;
}

.cartcontainer {
  position: relative;
  text-align: center;
  color: #007bff;
  padding-left: 5px;
  padding-top:5px;
}

.cartcount {
  position: absolute;
  top: 57%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #007bff;
}