.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
	.thumbnail {
	width: 30%;
	}
}

.azureimagesmall {
	width: 10%;
	height: 10%;
	opacity: 80%;
}

.azureimagelarge {
	width: 5%;
	height: 5%;
	opacity: 80%;
}

figure {
	width: intrinsic;
}

.thumbnail {
	width: 10%;
}